pipeline/practice_case_challenge5.json
{
	"name": "practice_case_challenge5",
	"properties": {
		"activities": [
			{
				"name": "List_Image_File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \n    STRING_AGG(image_name,',') AS concatenated_files\nFROM list_image;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLDATASETCASE5",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": ".",
							"table_name": "."
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "File_Name_Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "List_Image_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "File_Name",
							"value": {
								"type": "Expression",
								"content": "@split(replace(activity('list_image_file').output.firstRow.concatenated_files, '\\', ''), ',')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "File_Name_Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split(replace(activity('list_image_file').output.firstRow.concatenated_files, '\\', ''), ',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Transfer ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "GoogleCloudStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BINARYCASE5",
									"type": "DatasetReference",
									"parameters": {
										"directory_name": "image",
										"file_name": "@concat(item(),'.png')",
										"bucket_name": "azure_data_engineer"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BINARY_DATALAKE",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "rifatest",
										"folder_name": "data",
										"file_name": "@item()"
									}
								}
							]
						},
						{
							"name": "Script_Success",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Transfer ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SQL_rifa",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO dbo.list_image (image_name, image_url, ingest_tme) VALUES (''', item(), ''', ''https://hanifstorageaccount.blob.core.windows.net/hanifcontainers/image/', item(), ''', GETDATE());')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Script_Failed",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Transfer ADLS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SQL_rifa",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO dbo.list_image (image_name, image_url, ingest_tme) VALUES (''', item(), ''', ''https://hanifstorageaccount.blob.core.windows.net/hanifcontainers/image/', item(), ''', GETDATE());')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"variables": {
			"file_name": {
				"type": "Array",
				"defaultValue": [
					"documents.json",
					"example_json.json"
				]
			}
		},
		"folder": {
			"name": "CHALLENGECASE5"
		},
		"annotations": []
	}
}